.list {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 2px solid var(--main-color);
  border-radius: 8px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.emptyList {
  color: lightgrey;
}
